@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Noto+Sans+TC:wght@400;700&display=swap");

@font-face {
  font-family: "Monument Extended";
  src: url(./assets/fonts/MonumentExtended-Regular.otf);
  font-weight: 400;
}

@layer base {
  html {
    font-family: "Noto Sans TC", system-ui, sans-serif;
    background: #06102b;
  }
}

.gradient-card-bk {
  background: linear-gradient(180deg, #9da4ff 0%, #6e77e9 100%);
}

.gradient-decoration {
  background: linear-gradient(90deg, #9da4ff 0%, #55ffad 100%);
}

.gradient-card-stroke {
  background: linear-gradient(
    100.38deg,
    #313a65 3.95%,
    rgba(49, 58, 101, 0) 100%
  );
}
