@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Noto+Sans+TC:wght@400;700&display=swap");

@font-face {
  font-family: "Monument Extended";
  src: url(./assets/fonts/MonumentExtended-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Pilot Command Italic";
  src: url(./assets/fonts/pilotcommand1_2ital.ttf);
  font-weight: 400;
}

@layer base {
  html {
    font-family: "Noto Sans TC", system-ui, sans-serif;
    background: #06102b;
  }
}

.gradient-card-bk {
  background: linear-gradient(180deg, #9da4ff 0%, #6e77e9 100%);
}

.gradient-decoration {
  background: linear-gradient(90deg, #9da4ff 0%, #55ffad 100%);
}

.gradient-card-stroke {
  background: linear-gradient(
    100.38deg,
    #313a65 3.95%,
    rgba(49, 58, 101, 0) 100%
  );
}

ul.effect-bottom li {
  @apply relative;
}

ul.effect-bottom li:after {
  content: "";
  display: block;
  width: 12px;
  height: 4px;
  @apply bg-G1 rounded-full absolute right-1/2 translate-x-1/2 bottom-[4px] opacity-0 ease-linear duration-75 drop-shadow-green;
}

ul.effect-bottom li:hover:after {
  @apply opacity-100;
}
ul.effect-left li {
  @apply relative;
}
ul.effect-left li:after {
  content: "";
  display: block;
  width: 4px;
  height: 9px;
  @apply bg-G1 rounded-full absolute left-[-12px] bottom-1/2 translate-y-1/2 opacity-0 ease-linear duration-75 drop-shadow-green;
}

ul.effect-left li:hover:after {
  @apply opacity-100;
}

.forth-h1 {
  @apply relative whitespace-nowrap;
}
.forth-h1::before {
  content: "4TH";
  color: #55ffad;
  z-index: -1;
  @apply absolute left-[-5px] top-[-3px] whitespace-nowrap;
}

.forth-h1::after {
  content: "4TH";
  color: #9fa6ff;
  z-index: -2;
  @apply absolute left-[5px] top-[2px] whitespace-nowrap;
}

.f2e-h1 {
  @apply relative whitespace-nowrap;
}
.f2e-h1::before {
  content: "THE F2E";
  color: #55ffad;
  z-index: -1;
  @apply absolute left-[-5px] top-[-3px] whitespace-nowrap;
}

.f2e-h1::after {
  content: "THE F2E";
  color: #9fa6ff;
  z-index: -2;
  @apply absolute left-[5px] top-[2px] whitespace-nowrap;
}

.schedule-card:hover {
  @apply border-P1 bg-[#6E77E9]/10 drop-shadow-purple;
}

.schedule-card:hover h3 {
  @apply text-P1 drop-shadow-purple;
}

.reward-card {
  background: linear-gradient(
    100.38deg,
    #313a65 3.95%,
    rgba(49, 58, 101, 0) 100%
  );
}
.reward-card:hover {
  background: linear-gradient(
    142.33deg,
    rgba(157, 164, 255, 0.8) -0.03%,
    rgba(85, 255, 173, 0.8) 99.97%
  );
}
