
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Noto+Sans+TC:wght@400;700&display=swap');

-

@font-face {
  font-family: "Monument Extended";
  src: url(./assets/fonts/MonumentExtended-Regular.otf);
  font-weight: 400;
}

@layer base {
  html {
    font-family: "Noto Sans TC", system-ui, sans-serif;
  }
}

.gradient-card-bk {
  linear-gradient(180deg, #9DA4FF 0%, #6E77E9 100%);
}

.gradient-decoration {
  linear-gradient(90deg, #9DA4FF 0%, #55FFAD 100%);
}]

.gradient-card-stroke {
  linear-gradient(100.38deg, #313A65 3.95%, rgba(49, 58, 101, 0) 100%);
}